
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #343440;
}

body {
  font-family: Montserrat;
  line-height: 1;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 0.98;
  position: sticky;
  top: 0;
  z-index: 1;
}




#home {
  background: url(./images/other/black_dots.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 9.6rem;
}

.logo {
  margin-right: auto;
  align-self: center;
  margin-left: 6.4rem;
  font-size: 6.4rem;
  letter-spacing: -14px;
  font-weight: 300;
  
}
.logo:hover{
  transform: translateY(-2rem);
}

.logo-link {
  margin: 0 auto 0 0;
}

.navlogo:hover{
  
}

.logo-item1 {
  color: #ff6b6b;
}

.active {
  font-size: 2.4rem;
  color: #343a40;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  color: #868e96;
  margin: 3.2rem 2.4rem;
  background-color: white;
  font-weight: 600;
  border: none;
}

.nav-item:last-child {
  margin-right: 4.8rem;
}

.navlogo{
  max-width: 55px;
}

.big-heading {
  text-align: center;
  font-size: 10rem;
  font-weight: 800;
  color: #495057;
}

.profession {
  width: fit-content;
  margin: 0 auto;
  background-color: #05a3f8;
  color: white;
  text-align: center;
  padding: 1.5rem 3rem;
  border-radius: 40rem;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1.2rem;
}

.follower-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 4rem auto;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about-section {
  display: grid;
  max-width: 130rem;
  grid-template-columns: 1fr 3fr;
  gap: 5rem;
  align-items: center;
  border-radius: 2.5rem;
  background-color: #212529;
  margin: 4.8rem auto;
  padding: 2rem 8rem;
  box-shadow: 0px 35px 30px 10px rgba(0, 0, 0, 0.2);
}

.profile {
  width: 23rem;
  border-radius: 2.5rem;
  max-width: 350px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 5rem;
}

.about-heading {
  font-size: 3.2rem;
  /* letter-spacing: 1rem; */
  background: linear-gradient(to right, #66f0ff, #17f9ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio {
  color: white;
  margin-top: 4rem;
  margin-bottom: 6rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.socials {
  display: flex;
}

.social-img {
  width: 7rem;
  height: 7rem;
  background-color: #000000;
  border-radius: 100%;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.socials img {
  padding: 2rem;
  width: 7rem;
}

.social-img:nth-child(1):hover {
  background-color: #696969;
}
.social-img:nth-child(2):hover {
  background-color: #f03482;
}
.social-img:nth-child(3):hover {
  background-color: #f03434;
}
.social-img:nth-child(4):hover {
  background-color: #3b7dd4;
}
.social-img:nth-child(5):hover {
  background-color: #33cbdf;
}

.mongo {
  width: 15rem !important;
}

.scroll {
  display: flex;
  justify-content: center;
}

.team{
  align-items: center;
}

.scroll img {
  animation: arr 3s infinite;
  width: 10rem;
}

/* animations */
@keyframes arr {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
}

.section-heading {
  font-size: 4rem;
  margin-top: 16rem;
  text-align: center;
}

.skill-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 9.6rem;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
  max-width: 60rem;
  height: 35rem;
  border-radius: 3.2rem;
  transition: all 0.2s ease-in-out;
}

.skill img {
  width: 10rem;
}

.skill-heading {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.7rem;
  margin: 3rem 0 1.5rem 0;
}

.skill-detail {
  color: #868e96;
  max-width: 70%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.6rem;
}

.skill:nth-child(1) {
  background: linear-gradient(#e8f3ff, #fff);
}

.skill:nth-child(2) {
  background: linear-gradient(#f7e8ff, #fff);
}

.skill:nth-child(3) {
  background: linear-gradient(#370a9f81, #fff);
}

.skill:nth-child(4) {
  background: linear-gradient(#ecfcca, #fff);
}

.skill:nth-child(1):hover {
  background: linear-gradient(#bcddff, #fff);
}

.skill:nth-child(2):hover {
  background: linear-gradient(#b11bc594, #fff);
}

.skill:nth-child(3):hover {
  background: linear-gradient(#f203ff91, #fff);
}

.skill:nth-child(4):hover {
  background: linear-gradient(#d4ee9d, #fff);
}

.skill:hover {
  transform: translateY(-2rem);
}

.exp-history {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  padding-top: 9.6rem;
}

.exp {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgb(222, 222, 222);
}

.exp:last-child {
  border-bottom: none;
}

.exp-date {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.experience img {
  margin-right: 1rem;
}

.exp-details {
  display: grid;
  gap: 1rem;
}

.exp-details h3 {
  font-size: 2rem;
}

.address {
  display: flex;
}

.address h3 {
  margin-right: 2rem;
}

.location {
  display: flex;
  align-items: center;
}

.location h3 {
  font-weight: 400;
}

.exp-list {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.project {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  max-width: 130rem;
  margin: 9.6rem auto;
  row-gap: 4rem;
  column-gap: 4.8rem;
}

.project-heading {
  grid-column-start: span 2;
  justify-self: center;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1rem;
}

.project img {
  width: 60rem;
}

.project-description {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.black-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  background-color: white;
  color: #212529;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-top: 2.4rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.black-btn:hover {
  color: white;
  background-color: #212529;
  transform: translateY(-2rem);
}

#projects {
  background: linear-gradient(to right, #e4e5ff, #fff);
  padding: 1rem;
  color: #868e96;
  margin-top: 9.6rem;
}

#contact {
  background: #343440;
}

.contact-heading {
  font-size: 3rem;
  padding-top: 4.8rem;
  text-align: center;
}
#Contact * {
  color: white;
}


  /* TEAM */
   
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: -150px;
  margin-bottom: -150px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.profile-card{
  position: relative;
  font-family: sans-serif;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}
.profile-card:hover{
  border-radius: 10px;
  height: 260px;
}
.profile-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}
.profile-card:hover .img{
  transform: translateY(-60px);
}
.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}
.profile-card:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 21px;
  font-family: sans-serif;
}
.caption p{
  font-size: 15px;
  color: #0c52a1;
  font-family: sans-serif;
  margin: 2px 0 9px 0;
}
.caption .social-links a{
  color: #fffcfc;
  margin-right: 15px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #1676e3;
}

.mail {
  font-size: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(right, #00ffff, #51cbf4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  color: cyan;
}
.footer
{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 3.2rem;
  padding-bottom: 1.2rem;
}
.source-code {
  display: flex;
  margin-left: 4.8rem;
  align-items: flex-end;
  text-decoration: none;
}
.source-code img {
  width: 1.4rem;
  margin-right: 0.5rem;
}
/* reusable classes */
.small-icon {
  width: 2rem;
}
.very-small-icon {
  width: 1.5rem;
}

.our-team{
    text-align: center;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
}
.our-team .pic{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.our-team .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic:after{ opacity: 1; }
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}
.our-team .social li a:hover{
    background: #fff;
    color: #000;
}
.our-team .team-content{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted #ddd;
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .team-content{ border: 2px dotted #00adae; }
.our-team .team-info{
    width: 100%;
    color: #464646;
    position: absolute;
    bottom: 12px;
    left: 0;
}
.our-team .title{
    font-size: 20px;
    font-weight: 600;
    color: #464646;
    margin: 0 0 5px 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .title{ color: #00adae; }
.our-team .post{
    display: block;
    font-size: 14px;
    color: #464646;
}



/* media-queries */

@media (max-width: 1400px) {
  html {
    font-size: 9px;
  }

  .exp {
    grid-template-columns: 1fr 1fr;
    justify-self: center;
  }

  .logo{
    size: 10px;
  }

  .about-section {
    max-width: 80vw;
  }

  .project {
    max-width: 90vw;
  }

  
}

@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
  .logo {
    letter-spacing: -12px;
  }
}

@media (max-width: 1040px) {
  html {
    font-size: 7px;
  }
  .logo {
    letter-spacing: -10px;
  }
}

@media (max-width: 910px) {
  html {
    font-size: 9px;
  }
  .logo {
    letter-spacing: -14px;
  }
  .big-heading {
    font-size: 9.5rem;
  }

  #projects {
    margin: 5.6;
  }

  .section-heading {
    margin-top: 8rem;
  }

  .about-section {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 0rem;
    padding: 0;
    padding-top: 6rem;
  }

  .bio {
    font-size: 1.6rem;
  }

  .skill-container {
    grid-template-columns: 1fr;
  }

  .project {
    grid-template-columns: 1fr;
    justify-items: center;
    padding:0 8rem;
  }

  .project-heading {
    grid-column-start: span 1;
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.5;
  }

  .project img {
    width: 100%;
  }
  .mail {
    font-size: 4rem;
  }
  .black-btn{
    width: 100%;
    color: white;
    background-color: #212529;  
  }
}

@media (max-width: 720px) {
  .big-heading {
    font-size: 6rem;
  }
  
  .project-heading {
    font-size: 2rem;
  }
  .project {
    padding:0 4rem;
  }


  
}

@media (max-width: 600px) {

.logo{
  max-width: 100%;
  height: auto;
}

  .big-heading {
    font-size: 6.5rem;
  }
  .profession{
    font-size: 2rem;
  }

  .bio {
    font-size: 2rem
  }
  .about-section {
    max-width: 90vw;
  }
  .social-img {
    margin-right: 0.3rem;
  }

  .skill {
    max-width: 90vw;
  }

  .exp-history {
    max-width: 80vw;

    
  }
  .exp {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-self: left;
    font-size: 2rem;
  }

  .exp-details h3 {
    font-size: 2.4rem;
  }

  

  .mail {
    font-size: 2.1rem;
  }

  .profile-card{
    width: 300px;
    height: 200px;
  }
  
}


@media (max-width: 530px) {
  html {
    font-size: 5px;
  }
  .logo {
    letter-spacing: -10px;
    max-width: 65px;
    
  }
  .big-heading {
    font-size: 3rem;
  }

  footer {
    font-size: 2.4rem;
  }
  .mail {
    font-size: 2.1rem;
  }

  .profile-card{
    width: 200px;
    height: 200px;
  }
}

@media (max-width:420px){
  .big-heading {
    font-size: 5 rem;
  } 
  
  .logo{
    height: 10px;
      width: 10px;
  }

  .profile-card{
    width: 300px;
    height: 200px;
  }
}

@media (max-width:375px){

  .big-heading {
    font-size: 5 rem;
  } 
  
  .profile-card{
    width: 300px;
    height: 140px;
  }
}